* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}


/* Основные классы */
body {
    background: #3C3C3C;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


nav {
    z-index: 2;
    position: fixed;

    width: 100%;
    font-size: 20px;

    border-bottom: 1px solid #808080;
    background-color: #2D2D2D;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .nav-main {
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .nav-main #navbar-toggler {
    display: none;
}
a {
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}
nav .nav-main a img {
    transform: scale(1.3) rotate(0deg);
    transition: transform 0.3s;
    position: absolute;
    top: -5%;
    z-index: -1;
}
nav .nav-main a:hover img,
nav .nav-main a:focus img {
    transform: scale(1.4) rotate(360deg);
}
nav .site-links a::before,
nav .site-links a::after {
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.1s;
}
nav .site-links a::before {
	margin-right: 10px;
	content: '[';
	transform: translateX(20px);
}
nav .site-links a::after {
	margin-left: 10px;
	content: ']';
	transform: translateX(-20px);
}
nav .site-links a:hover::before,
nav .site-links a:hover::after,
nav .site-links a:focus::before,
nav .site-links a:focus::after {
	opacity: 1;
	transform: translateX(0px);
}


header h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 15vh;
    letter-spacing: .1em;
    text-shadow:
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212;
}


main .CardsList {
    display: flex;
    padding: 1vh;
    padding-bottom: 15vh;
    cursor: pointer;
}
main .Other {
    display: flex;
    padding: 1vh;
    padding-bottom: 5vh;
    flex-direction: column;
    background-color: #313131;
}
main .CardsList section {
    z-index: 0;
    position: relative;
}
main .CardsList .CardOpen::after {
    content: "open";
    width: 100%;
    opacity: 0;
    position: absolute; bottom: -10px;
    transition-duration: 0.3s;
}
main .CardsList .CardOpen:hover::after {
    content: "open";
    opacity: 1;
    bottom: 0;
    background-color: #383838;
}
main .CardsList section .CloseCard::after {
    content: "close";
    z-index: 5;
    width: 100%;
    background-color: #383838;
    position: absolute; bottom: 0; left: 0;
}
main .CardsList section:hover {
    z-index: 1;
    box-shadow: 0px 0px 5px 1px green;
    transition-duration: 0.1s;
}
main .CardSon {
    width: 90vw;
}
main .CardSon .Pem {
    margin: 2em 0;
}
main .CardSon .ul-liFath {
    display: flex;
    text-align: left;
}
main .CardSon .downloadBtn {
    padding: 10px 0;
    width: 30vw;
    margin-top: 5vh;

    outline: none;
    cursor: pointer;

    color: #ffffff;
    background-color: #037203;

    border: none;
    border-radius: 15px;

    transition-duration: 0.1s;
}
main .CardSon .downloadBtn:hover {
    width: 31vw;
}
main .CardSon .downloadBtn:active {
    background-color: #056405;
    transform: translateY(2px);
}
main .downloadForm {
    background: #404040;
    border: 2px solid #2c2c2c;
    border-radius: 1rem;

    width: 90vw;
    height: 90vh;
    
    position: fixed;
    top: 5vh;
    left: 5vw;
    display: none;
    z-index: 5;
}
.downloadForm>.cross {
    position: absolute;
    top: 1rem;
    right: 2rem;

    font-size: 4vh;
    cursor: pointer;
}
body.light::before {
    content: "";
    z-index: 5;
    background-color: rgba(5, 5, 5, .6);

    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}
body.light .downloadForm {
    display: block;
}
/* Комментарии */
main #disqus_thread {
    width: 80%;
    margin-top: 2rem;
}


footer {
    width: 100%;
    height: 35px;
    border-top: 2px solid #393939;
    background-color: #313131;
    color: #e0e0e050;
    font-size: 10px;
    line-height: 14px;
}


/* Вспомогательные классы */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WH {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: width opacity margin;
}

main .otherBgG {
    background-color: #404040;
    margin-left: -1px;
    border: 1px solid green;
}
main .otherBgB {
    background-color: #3b3b3b;
    margin-left: -1px;
    border: 1px solid green;
}

/* Исчезновение карточек с названиями раздела и анимация*/
.hideCard {
    width: 0;
    opacity: 0;
}
.HideSon {
    display: none;
}
.unHideSon {
    padding-top: 1vh;
    animation: 2s Hide-unHide-Son;
}
@keyframes Hide-unHide-Son {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}