.slider {
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
}

.slider #left, #right {
    font-size: 4vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: #00000000;

    width: 25%;
    height: 50%;
    position: absolute;
    z-index: 1;
}
.slider #left {
    text-align: left;
    left: -2vh;
}
.slider #right {
    text-align: right;
    right: -2vh;
}
.slider i {
    background: #55555570;
}

.slider .container {
    overflow: hidden;
    display: flex;
    border-radius: 10px;
}

.INcontainer {
    display: flex;
    position: relative;
    left: 0;

    transition-property: left;
    transition-duration: 0.5s;
}

.slider .cont {
    display: flex;
    align-items: center;
    justify-content: center;
}