.slider {
    display: flex;
    user-select: none;
    position: relative;
}

.slider #left, #right {
    font-size: 4vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffffff00;

    width: 52.5%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.slider #left {
    text-align: left;
    left: -2.5%;
}
.slider #right {
    text-align: right;
    right: -2.5%;
}
.slider i {
    background: #55555570;
}

.slider .container {
    overflow: hidden;
    display: flex;
}

.INcontainer {
    display: flex;
    position: relative;
    left: 0;

    transition-property: left;
    transition-duration: 0.5s;
}

.slider .cont {
    display: flex;
    align-items: center;
    justify-content: center;
}